@import 'base.scss';

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    background: #fff;
    position: relative;

    :global {
        .ant-tree {
            min-width: fit-content;
            width: 100%;

            .ant-tree-treenode {
                min-height: 50px;
                align-items: center;

                .ant-tree-node-content-wrapper {
                    height: 50px;
                    display: flex;
                    align-items: center;

                    .ant-tree-treenode span {
                        height: 50px;
                        display: block;
                        flex: 1;
                    }
                }
            }
        }
    }
}
