@import 'base.scss';

.container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(49, 49, 49, 0.85);
}

.downLoadIcon {
    position: absolute;
    top: 24px;
    right: -35px;
    z-index: 10;
    width: 24px;
    height: 24px;
    color: white;
    cursor: pointer;
}

.videoBox {
    position: relative;
}

.video {
    position: relative;
    z-index: 3;
    background: #000;
}

.iconClose {
    position: absolute;
    top: -45px;
    right: -45px;
    z-index: 2;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: color 0.5s;

    &:hover {
        color: white;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
}

.title {
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 20px;
    color: #fff;
    word-break: break-all;
}

.content {
    font-size: 14px;
    color: $input-border-gray;
    word-break: break-all;
    white-space: pre-line;
}
