@import 'base.scss';

.container {
    display: flex;
    flex-direction: column;
    background: #fff;
}

.item {
    display: flex;
    flex-direction: column;
    padding: 6px 12px;
    border-bottom: 1px solid $black01;
    cursor: pointer;
    position: relative;

    &:hover {
        background-color: #eff0f1;
    }
}

.top {
    display: flex;
    flex: 1;
    align-items: center;
}

.title {
    flex: 1;
    padding-left: 10px;
    color: $black08;
    padding-right: 4px;
    @include ellipsis;
}

.bottom {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.updateTime {
    font-size: 12px;
    color: $black04;
}

.parentFolderTitle {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: $black02;

    &:hover {
        text-decoration: underline;
    }
}

.size {
    font-size: 12px;
    color: $black04;
}

.active {
    background-color: #eff0f1;
}

.is-top {
    border-left: 8px solid transparent;
    border-top: 8px solid $primary;
    height: 0;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 0;
}
