@import '@styles/base.scss';

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    overflow: hidden;
    background: #fff;
    border-right: 1px solid $black01;

    :global(.ant-empty-normal) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.header {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0 12px;
    border-bottom: 1px solid $black01;
}

.name {
    flex: 1;
    padding: 0 12px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    @include ellipsis;
}

.sort {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.content {
    position: relative;
    flex: 1;
    overflow: hidden;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
}

.empty {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -50%);

    > label {
        margin-bottom: 4px;
        font-size: 12px;
        color: $black04;
    }
}
