@import '@styles/base.scss';

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 8992;
    transform: translate3d(-50%, -50%, 0);
}

.mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 8991;
    background: #000;
    opacity: 0.1;
}
