@import 'base.scss';

@mixin mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background: $black01;
}

.bgImgs {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.bgImgsMask {
    @include mask;
}

.formWrapper {
    position: absolute;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 550px;
    overflow: hidden;
    background: #fff;
    transition: left 0.5s;
    transition: left 0.6s ease-in-out;

    h1 {
        margin: 50px 0 25px;
    }
}

.wrapperMask {
    @include mask;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    padding: 0 5px 5px;
    margin-top: 25px;
    color: $black04;
    border-bottom: 1px solid $input-border-gray;

    label {
        margin-bottom: 5px;
        font-size: 12px;
        color: $color-gray;
    }

    input {
        width: 260px;
        text-align: center;
        background-color: #fff;
        border: 0;
        box-shadow: unset !important;

        &:-internal-autofill-selected {
            background-color: #fff !important;
            border: 0px !important;
            box-shadow: 0 0 0px 1000px white inset !important;
        }
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: color 11111s ease-out, background-color 111111s ease-out;
        transition-delay: 111111s;
    }
}

.loginContainer {
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    :global(.ant-form-item-label > label) {
        color: $black08;
    }
}

.subCount {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 260px;
    height: 550px;
    overflow: hidden;
    transition: right 0.6s ease-in-out;

    .subCountWrap {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 550px;
        overflow: hidden;
        color: #fff;
    }

    * {
        z-index: 2;
    }

    h2 {
        margin-bottom: 10px;
        font-size: 26px;
        color: #fff;
        text-align: center;
    }

    .desc {
        margin-top: 50px;
    }

    img {
        position: absolute;
        top: 0;
        z-index: 1;
        transition: left 0.6s ease-in-out;
    }

    .btn {
        position: relative;
        width: 100px;
        height: 30px;
        margin-bottom: 150px;
        overflow: hidden;
        line-height: 30px;
        color: #fff;
        text-align: center;
        cursor: pointer;
        border: 1px solid #fff;
        border-radius: 16px;

        > div {
            position: absolute;
            left: 0;
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 60px;
            transition: top 0.6s ease-in-out;

            > div {
                left: 0;
                width: 100%;
                min-height: 30px;
                line-height: 27px;
            }
        }
    }

    .loginBtn {
        top: 0;
    }
    .registerBtn {
        top: -30px;
    }

    .mask {
        @include mask;
    }
}

.bg {
    z-index: 1;
    width: 760px;
    height: 550px;
    padding: 1px;
}

.submit {
    width: 260px;
    margin: 40px 0 20px;
}

.handleLogin {
    .formWrapper {
        top: 50%;
        left: calc(50% - 380px);
        transform: translateY(-50%);
    }

    .subCount {
        top: 50%;
        right: calc(50% - 380px);
        transform: translateY(-50%);

        img {
            left: -500px;
        }
    }
}

.handleRegister {
    .formWrapper {
        top: 50%;
        left: calc(50% - 120px);
        transform: translateY(-50%);
    }

    .subCount {
        top: 50%;
        right: calc(50% + 120px);
        transform: translateY(-50%);

        img {
            left: 0px;
        }
    }
}
