@import 'base.scss';

@mixin mask {
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.container {
    background: $black01;
    width: 100%;
    height: 100%;
    position: relative;
}

.bgImgs {
    background-image: url('../../../assets/img/bg.png');
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}

.bgImgsMask {
    @include mask;
}

.wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 760px;
    height: 549px;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background: #e5e5e5;
    z-index: 1;
    background-image: url('../../../assets/img/bg.png');
}

.handleLogin {
    .formWrapper {
        left: calc(50% - 380px);
        top: 50%;
        transform: translateY(-50%);
    }

    .subCount {
        right: calc(50% - 380px);
        top: 50%;
        transform: translateY(-50%);

        img {
            left: -500px;
        }
    }
}

.handleRegister {
    .formWrapper {
        left: calc(50% - 120px);
        top: 50%;
        transform: translateY(-50%);
    }

    .subCount {
        right: calc(50% + 120px);
        top: 50%;
        transform: translateY(-50%);

        img {
            left: 0px;
        }
    }
}

.formWrapper {
    height: 550px;
    position: absolute;
    background: #fff;
    top: 0;
    transition: left 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 500px;
    transition: left 0.6s ease-in-out;
    z-index: 2;

    h1 {
        margin: 50px 0 25px;
    }
}

.wrapperMask {
    @include mask;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    border-bottom: 1px solid $input-border-gray;
    padding: 0 5px 5px;
    color: $black04;
    width: 260px;

    label {
        font-size: 12px;
        color: $color-gray;
        margin-bottom: 5px;
    }

    input {
        background-color: #fff;
        border: 0;
        box-shadow: unset !important;
        width: 260px;
        text-align: center;

        &:-internal-autofill-selected {
            background-color: #fff !important;
            box-shadow: 0 0 0px 1000px white inset !important;
            border: 0px !important;
        }
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition-delay: 111111s;
        transition: color 11111s ease-out, background-color 111111s ease-out;
    }
}

.loginContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;

    :global(.ant-form-item-label > label) {
        color: $black08;
    }
}

.subCount {
    width: 260px;
    height: 550px;
    position: absolute;
    top: 0;
    z-index: 2;
    transition: right 0.6s ease-in-out;
    overflow: hidden;

    .subCountWrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        height: 550px;
        position: relative;
        width: 100%;
        overflow: hidden;
        justify-content: space-between;
    }

    * {
        z-index: 2;
    }

    h2 {
        color: #fff;
        margin-bottom: 10px;
        font-size: 26px;
        text-align: center;
    }

    .desc {
        margin-top: 50px;
    }

    img {
        position: absolute;
        transition: left 0.6s ease-in-out;
        top: 0;
        z-index: 1;
    }

    .btn {
        margin-bottom: 150px;
        width: 100px;
        position: relative;
        overflow: hidden;
        color: #fff;
        border: 1px solid #fff;
        cursor: pointer;
        height: 30px;
        border-radius: 16px;
        text-align: center;
        line-height: 30px;

        > div {
            position: absolute;
            display: flex;
            flex-direction: column;
            transition: top 0.6s ease-in-out;
            left: 0;
            width: 100%;
            height: 60px;

            > div {
                width: 100%;
                min-height: 30px;
                line-height: 27px;
                left: 0;
            }
        }
    }

    .loginBtn {
        top: 0;
    }
    .registerBtn {
        top: -30px;
    }

    .mask {
        @include mask;
    }
}

.bg {
    width: 760px;
    height: 550px;
    z-index: 1;
    padding: 1px;
}

.submit {
    width: 260px;
    margin: 40px 0 20px;
}
