@import '@styles/base.scss';

.item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    label {
        min-width: 32px;
        margin-right: 27px;
        font-size: 12px;
        color: $black06;
    }
}

.rightContainer {
    display: flex;
    align-items: center;
    background: #fff;
}

.avatar {
    margin-right: 12px;
}

.upload {
    background: #fff;
}
