@import './cover.scss';
@import './base.scss';

html,
body {
    width: 100%;
    min-width: 800px;
    height: 100%;
    min-height: 600px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    overflow: auto;
    overflow: auto;
}

.ant-scrolling-effect {
    width: auto !important;
}
