html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    overflow: auto;
}

:global {
    svg:not(.no-fill),
    svg:not(.no-fill) path {
        fill: currentcolor;
    }
}
