@mixin ellipsis {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
    white-space: nowrap;
}

// 绝对居中
@mixin absoluteCenter {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
