@import './common.scss';

$red: red;
$black: rgba(0, 0, 0, 1);
$black01: rgba(0, 0, 0, 0.1);
$black02: rgba(0, 0, 0, 0.2);
$black04: rgba(0, 0, 0, 0.4);
$black06: rgba(0, 0, 0, 0.6);
$black08: rgba(0, 0, 0, 0.8);
$primary: rgb(25, 144, 255);
$blue01: rgba(25, 144, 255, 0.1);
$blue02: rgba(25, 144, 255, 0.2);
$blue04: rgba(25, 144, 255, 0.4);
$blue06: rgba(25, 144, 255, 0.6);
$blue08: rgba(25, 144, 255, 0.8);
$color-gray: #888;
$input-border-gray: #d6dfeb;
