@import '@styles/base.scss';

.container {
    display: flex;
    align-items: center;
    height: 56px;
    background: linear-gradient(90deg, rgb(62, 119, 255) 0%, rgb(57, 175, 249) 100%);
}

.title {
    display: flex;
    align-items: center;
    width: 250px;
    height: 100%;
    padding-left: 32px;
    font-size: 20px;
    color: #fff;
    text-align: center;

    svg {
        margin: 0 12px 0 0 !important;
    }
}

.rightContainer {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    padding-right: 32px;
}

.search {
    width: 250px !important;
    height: 32px;
    margin-right: 32px;
    border-radius: 16px !important;

    ::placeholder {
        padding-left: 8px;
        font-size: 12px;
        color: $black04;
    }
}

.avatarContainer {
    display: flex;
    align-items: center;
    margin-right: 32px;
}

.btn {
    padding: 2px 4px;
    cursor: pointer;
    border: 1px solid $black01;
    border-radius: 4px;
    color: #fff;
}
