@import 'base.scss';

.container {
    display: flex;
    align-items: center;
    height: 56px;
    background: linear-gradient(90deg, rgb(62, 119, 255) 0%, rgb(57, 175, 249) 100%);
}

.title {
    display: flex;
    align-items: center;
    font-size: 20px;
    text-align: center;
    color: #fff;
    width: 250px;
    height: 100%;
    padding-left: 32px;

    svg {
        margin: 0 8px 0 0 !important;
    }
}

.rightContainer {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 32px;
}

.search {
    width: 250px !important;
    border-radius: 16px !important;
    height: 32px;
    margin-right: 32px;

    ::placeholder {
        font-size: 12px;
        color: $black04;
        padding-left: 8px;
    }
}
