@import '@styles/base.scss';

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #fff;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    padding: 0 24px;
    border: 1px solid $black02;
}

.title {
    font-size: 32px;
    font-weight: 500;
}

.content {
    padding: 0 24px;
    overflow: auto;
}

.markdown {
    :global {
        h1 {
            font-size: 2em;
        }

        th,
        td {
            padding: 6px 13px;
            border: 1px solid #dfe2e5;
        }
        th {
            display: table-cell;
            font-weight: bold;
            text-align: -internal-center;
            vertical-align: inherit;
        }
    }
}
