@import 'base.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #fff;

    :global(.ant-form-item-label > label) {
        color: $black08;
    }
}

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
}

.inputContainer {
    width: 420px;
    height: 260px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #ffffff73;
    z-index: 1;
    padding-left: 21px;
    padding-top: 24px;
    border-radius: 4px;
    box-shadow: 0px 0px 5px 1px $black06;
}
